


h1{
    text-align: center;
}
img{

    border: 5px solid black;
    margin-left: 375px;
    height: 200px;
}
p{
    text-align: center;
}
h2{
text-align: center;
}
#father2{
    margin-left: 425px;
}
#father{
    margin-top: 50px;
}
#next{
    text-align:center;
}
#Sir{
    margin-top: 50px;
}
#school{
    margin-left: 275px;
}



h3{
    text-align: center;
}